/Greenhouse/Greenhouse/obj
/Greenhouse/Greenhouse/bin
/Greenhouse/Greenhouse.Data/obj
/Greenhouse/Greenhouse.Data/bin
/Greenhouse/Greenhouse.Models/obj
/Greenhouse/Greenhouse.Models/bin
/Greenhouse/Greenhouse.Services/obj
/Greenhouse/Greenhouse.Services/bin
/Greenhouse/Greenhouse/appsettings.json
